@import 'optionStyle';

body {
    font-family : $kpmgFont;
    font-size : 14px;
    color : $textColor;
}
.overHidden {
    overflow: hidden;
}
.fullSize {
    width : 100%;
}
.fullHeight {
    height : 100%;
}
.simpleMar {
    margin : 10px;
}
.minMarg {
    margin : 5px 5px 0 0;
}
.margDown {
    margin-bottom : 10px;
}
.margUp {
    margin-top : 10px;
}
.minPad {
    padding: 5px;
}
.simplePad {
    padding : 10px;
}
.inline {
    display : inline;
}
.left {
    float : left;
}
.right {
    float : right;
}
.pointer {
    cursor : pointer;
}
.bold {
    font-weight : bold;
}
.upper {
    text-transform : uppercase;
}
.border {
    border : 1px solid #c8c8c8;
}
.whiteBack {
    background : #fff;
}
.radius {
    border-radius : .3rem;
}
.none {
    display : none !important;
}
.absolute {
    position: absolute;
}
.whiteTextShadow {
    text-shadow: .5px .5px .5px black, 0 0 .5px #fefefe; /* Параметры тени */
}
.buttSettings {
    margin : 0 0 0 10px;
    padding : 0;
}
.buttSettings > .anticon {
    padding-left : 10px;
}
/* Делаем текст необводимым */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.shadowDivHover:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.boxShadow {
    box-shadow: 0 0 3px rgba(0,0,0,0.2); /* Параметры тени */
    border-radius : .1rem;
}